@import "/src/common/styles/mixins";
@import "/src/common/styles/variables";

.table {
  @include flex(unset, center, column);
  min-height: 660px;
  h1 {
    @include text($titleFontFamily, 26px, 1,$titleTextColor);
    font-weight: 700;
    align-self: flex-start;
    margin-left: 23px;
  }
  .inputWrap{
    position: relative;
    input {
      margin: 20px 0;
      padding-left: 40px;
      background: #FFFFFF;
      border: 1px solid #EBEBEB;
      border-radius: 15px;
      height: 45px;
      width: 877px;
      background: no-repeat 4px 7px ;
      background-size: 30px;
      font-size: 14px;

    }
  }

  ul {
    @include flex(center, center, column);
    width: 100%;

    li {
      margin-bottom: 5px;
      width: 95%;

    }
  }
}

